
.wrap_todolist {
    width: 400px;
    background-color: rgb(71, 56, 21);    
    border-radius: 8px;
    margin-right: 400px;

    .title {
        background-color: rgb(71, 56, 21);        padding: 40px 10px;
        border-radius: 8px;
        font-size: 2rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
    }

    .todo_taskList {
        padding: 20px 0 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .todo_task {
            width: 380px;
            display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
        }
    }
}
